[Desktop Entry]
Name=No1e
Comment=Theme for darker backgrounds
X-KDE-PluginInfo-Name=No1e
X-KDE-PluginInfo-Author=l4k1
X-KDE-PluginInfo-Email=l4k1987@gmail.com
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Category=Plasma Theme
X-KDE-PluginInfo-Depends=KDE5
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
